.r-p-main {
  position: absolute;
  right: 20px;
  background-color: #fff;
  width: 300px;
  height: 70vh;
  border-radius: 8px;

}

.r-p-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.r-p-head {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  top: 5px;
  width: 100%;
}

.margin {
  margin-left: 10px;
}

.send-msg {
  position: absolute;
  top: 70px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.send-msg-content {
  background-color: rgb(201, 201, 201);
  width: 98%;
  border-radius: 8px;
  display: flex;
  padding: 4px;
  flex-direction: row;
  justify-content: space-between;
}

.l-msg {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  position: absolute;
  width: 100%;
  top: 150px;
  padding: 10px;
}

.l-msg-content {
  border-radius: 8px;
  padding: 8px;
  font-size: 0.9rem;
  width: 98%;
  background-color:  rgb(201, 201, 201);
}

.b-send {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 20px;
  width: 100%;
}

.b-send-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  background-color:  rgb(201, 201, 201);
  border-radius: 8px;
}

.b-send-l {
  padding: 10px;
}

.b-send-r {
  padding: 10px;
}
